.not-logged-page {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;        
}

.not-logged-page {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-logged-box {
  background: #fff;
  padding: 32px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.not-logged-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.not-logged-box p {
  margin-bottom: 20px;
  color: #555;
}

.login-btn {
  background: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
